## Static files
*
!/**/

!.github/workflows/dotnetcore.yml

!.gitignore
!LICENSE
!README.md
/**/Debug
/**/Release

## Add specific files
!LessPaper.Shared/LessPaper.Shared.csproj
!LessPaper.Shared.UnitTest/LessPaper.Shared.UnitTest.csproj
!LessPaper.Shared.sln
!LessPaper.Shared.sln.DotSettings

!/**/*.cs

